<% provide :title, "Home" %>
<div class="row">
  <aside class="col-md-4">
     <section class="user_info">
       <%= render 'shared/user_info' %>
     </section>
     <section class="stats">
        <%= render 'shared/stats' %>
     </section>
  </aside>
  <div class="col-md-8">
    <div class="col-md-4">
      <% if current_user.admin? %>
        <%= link_to "Word", admin_words_path , class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Word", words_path , class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if current_user.admin? %>
        <%= link_to "Category", admin_categories_path , class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Category", categories_path , class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-10 activity">Activities</div>
    <div class="col-md-10 lesson-list"><%= render @activities %></div>
  </div>
</div>