<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @word] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      <%= hidden_field_tag :category_id, params[:category_id] %>
      <div class="my-answer">
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer', f: builder %>
        <% end %>
      </div>
      
      <p><%= link_to_add_fields "Add Answer", f, :answers %></p>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>