<% provide :title, 'All Words' %>
<h1>All Words</h1>
<div>
  <%= form_tag admin_words_path, method: :get do %>
    <label for="category_id">Category</label>
    <%= render "shared/form_filter_word" %>
    <div class="row">
      <div class="col-md-1">
        <%= submit_tag "Filter", class: "btn btn-primary" %>
      </div>
      <div class="col-md-3">
        <%= link_to 'New Word', "javascipt:void()",
          class: "btn btn-primary new-word" %>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @words %>
<ul class="words" id="words">
  <%= render @words %>
</ul>
<%= will_paginate @words %>
