<div class="result">
<div class="question">
  <div class="col-md-5">
    Question <%= f.index + 1 %> / <%= @words.count %><br>
    <h1><%= f.object.word.content %></h1>
  </div>
  <div class="col-md-5">
    <%= f.hidden_field :word_id, value: f.object.word.id %>  
    <% f.object.word.answers.each do |answer| %>
      <div class="row list-answers">
        <div class="col-md-2"><%= f.radio_button :answer_id, answer.id %></div>
        <div class="col-md-3"><%= answer.content %></div>
      </div>
    <% end %>
  </div>
</div>
</div>
