<li class="category-<%= category.id %>">
  <div class="row">
    <div class="cateName"><span class="col-md-9"><%= category.name %></span></div>
    <span class="col-md-1"><%= link_to 'Delete', admin_category_path(category),
              method: :delete, remote: true, class: "btn btn-primary" %>
    </span>
    <span class="col-md-1"><%= link_to 'Edit', edit_admin_category_path(category),
                               class: "btn btn-primary" %>
    </span>
    <span class="col-md-1"><%= link_to 'Start', '#', class: "btn btn-primary" %></span>
  </div>
</li>