<li class="category-<%= category.id %>">
  <div class="row">
    <span class="col-md-9">
      <div class="cateName"><%= category.name %> </div>
      You learned 
      <%= category.count_words_learned current_user %> / 
      <%= category.words.count %> words
    </span>
    <span class="col-md-1"><%= link_to 'Delete', admin_category_path(category),
              method: :delete, remote: true, class: "btn btn-primary" %>
    </span>
    <span class="col-md-1"><%= link_to 'Edit', edit_admin_category_path(category),
                               class: "btn btn-primary" %>
    </span>
    <span class="col-md-1"><%= link_to 'Start', new_category_lesson_path(category), class: "btn btn-primary" %></span>
  </div>
</li>