<li class="category-<%= category.id %>">
  <div class="row">
    <span class="col-md-10">
      <div class="cateName"><%= category.name %> </div>
      You learned 
      <%= category.count_words_learned current_user %> / 
      <%= category.words.count %> words
    </span>
    <span class="col-md-1"><%= link_to 'Start', new_category_lesson_path(category_id: category.id), class: "btn btn-primary" %></span>
  </div>
</li>